/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/*
/storage/*.key     # <--- ignore sensitive keys
/storage/*.log     # <--- optionally ignore log files
/storage/framework/*
/storage/logs/*
/storage/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
